<!DOCTYPE html>
<html>
<head>
  <title>SS Careers</title>
  <style> 
    h1{
      font-family: sans-serif;
      font-size: 40px;
      color: rgb(64, 64, 64);
      text-align: center; 
    }
    #banner{
    width: 100%;
    height: 300px;
    object-fit: cover;
    }
    h2 {
      font-family: sans-serif;
      font-size: 32px;
      color: rgb(100,100,100);
      text-align: center;
    }
    .text {
      font-family: sans-serif;
      color: rgb(80,80,80);
    }
    #container{
      max-width: 720px;
      margin: 0 auto 0 auto;
    }
  </style>
</head>
<body>
    <div id = "container">
      <h1>SS Careers</h1>
      <img id="banner" src="https://images.unsplash.com/photo-1621106162740-aef58d51efe4?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">
      <h2>О нас</h2>
      <p class="text">SS Careers - это ведущая компания, специализирующаяся на публикации вакансий в сфере информационных технологий (IT). Наша миссия - соединить талантливых специалистов с инновационными компаниями по всему миру. Мы предлагаем широкий спектр вакансий в IT-секторе, включая разработку программного обеспечения, сетевую безопасность, аналитику данных, веб-разработку и многое другое. Наша цель - обеспечить эффективное взаимодействие между работодателями и кандидатами, чтобы обеспечить успешное развитие как компаний, так и профессионалов в IT-индустрии. </p>
      <h2>Свободные позиции</h2>
      <p class="text"> TODO Показать вакансии</p>
      <div style ="text-align:center;">
      <button> Связаться с нами</button>
        <p>Copyright 2024, SS Careers</p>
      </div>
    </div>
</body>
</html>